In [88]:
import pandas as pd
from glob import glob
import numpy as np
import os

In [89]:
files = glob('./data/*.csv')
print(files)

df = pd.concat(
    (pd.read_csv(file,encoding='utf-16', na_values='NaN', keep_default_na=False) for file in files), ignore_index=True).iloc[:, [0,1,5,6,7,8,10,11,12,14,16,17]]
 

que_y = df["que_validity"] == "Y"
que_n = df["que_validity"] == "N"
df = df[(que_y | que_n)]

df = df.pivot(index=['yms_year','yms_smester','emp_id','emp_name','assistant_id','assistant_name','exe_type','respondent_code','que_sub','que_validity'], columns='que_no', values='exe_results')
df = df.fillna(value="")

df.to_csv('excel_output.csv', encoding = 'utf_8_sig')

['./data\\不動產管理學程.CSV', './data\\中文系.CSV', './data\\人文社會學士學位學程.CSV', './data\\人社學院.CSV', './data\\企管系.CSV', './data\\光電系.CSV', './data\\全校國際生大一不分系學士班.CSV', './data\\公共事務與社會創新研究所.CSV', './data\\再生能源與永續社會學程.CSV', './data\\創新設計學士學位學程.CSV', './data\\創能學院.CSV', './data\\勞工安全衛生學程.CSV', './data\\化工系.CSV', './data\\合作經濟暨社會事業經營學系.CSV', './data\\商學博士學位學程.CSV', './data\\商學大數據分析雙學士學位學.CSV', './data\\商學專業碩士在職學位學程.CSV', './data\\商學進修學士學位學程.CSV', './data\\商學院.CSV', './data\\國文綜合班.CSV', './data\\國際經營與貿易學系.CSV', './data\\土木系.CSV', './data\\土水博士學位學程.CSV', './data\\土管系.CSV', './data\\外文系.CSV', './data\\外語文選修.CSV', './data\\室內設計學士學位學程.CSV', './data\\室內設計進修學士班.CSV', './data\\專案管理學程.CSV', './data\\專案管理碩士在職學位學程.CSV', './data\\工工系.CSV', './data\\工程與科學學院.CSV', './data\\建築學士學位學程.CSV', './data\\建築專業學院.CSV', './data\\建築專業學院學士班.CSV', './data\\建築碩士學位學程.CSV', './data\\建設碩士在職學位學程.CSV', './data\\應數系.CSV', './data\\成衣菁英學程.CSV', './data\\文化創意學分學程.CSV', './data\\景觀與遊憩管理學程.CSV', './data\\智慧城市國際碩士學位學程.CSV', './data\\智能製造與工程管理碩士在職.CSV', './data\\智能鞋業學分學程.CSV', './data\\會計系.CSV', './data\\材料系.CSV', './data\\核心必修綜合班.CSV', './data\\機電系.CSV', './data\\歷史文物所.CSV', './data\\水利系.CSV', './data\\水土環境經理學程.CSV', './data\\法律經濟學程.CSV', './data\\流體傳動科技學程.CSV', './data\\澳洲墨爾本皇家理工大學商學.CSV', './data\\營建工程與管理進修學士班.CSV', './data\\物聯網學程.CSV', './data\\環科系.CSV', './data\\生醫碩士學位學程.CSV', './data\\產業碩士專班.CSV', './data\\社會傳播學程.CSV', './data\\科技管理碩士學位學程.CSV', './data\\精密系統設計學位學程.CSV', './data\\統計系.CSV', './data\\經濟系.CSV', './data\\經營管理碩士在職學位學程.CSV', './data\\綜合班.CSV', './data\\綠能碩士學位學程.CSV', './data\\纖維複材系.CSV', './data\\美國加州聖荷西州立大學工程.CSV', './data\\美國加州舊金山州立大學資訊.CSV', './data\\自控系.CSV', './data\\航太系.CSV', './data\\英文綜合班.CSV', './data\\英語選修.CSV', './data\\華語教師學程.CSV', './data\\行銷系.CSV', './data\\計算科學學程.CSV', './data\\設計未來學程.CSV', './data\\財務工程與精算學程.CSV', './data\\財法所.CSV', './data\\財稅系.CSV', './data\\財金系.CSV', './data\\資訊系.CSV', './data\\資訊電機學院學士班.CSV', './data\\資訊電機工程碩士在職學位學.CSV', './data\\資通安全學程.CSV', './data\\資電學院.CSV', './data\\軍訓.CSV', './data\\通訊系.CSV', './data\\通識核心.CSV', './data\\運輸與物流學系.CSV', './data\\都資系.CSV', './data\\金融博士學位學程.CSV', './data\\金融學院.CSV', './data\\金融碩士在職學位學程.CSV', './data\\開放題匯總下載檔.CSV', './data\\電子系.CSV', './data\\電機系.CSV', './data\\電機資訊雙學士學位學程.CSV', './data\\電聲碩士學位學程.CSV', './data\\電通博士學位學程.CSV', './data\\風保系.CSV', './data\\飛機製造學分學程.CSV', './data\\體育選項課.CSV']

<ipython-input-89-7231bd6234b5>:4: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  df = pd.concat(

In [91]:
df2 = pd.read_csv('./excel_output.csv',encoding='utf-8', na_values='NaN', keep_default_na=False)
df3 = df2['que_sub'].str.slice(-5,-1)
#df3 = df.astype('str')
df2.insert(9,"選課代號",df3)

<ipython-input-91-fb88dd533574>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2 = df2[(que_y)]

In [92]:
df_type1 = df2["exe_type"] == 1
df2type1 = df2[(df_type1)]

df_type2 = df2["exe_type"] == 2
df2type2 = df2[(df_type2)]

df_type3 = df2["exe_type"] == 3
df2type3 = df2[(df_type3)]

df_type4 = df2["exe_type"] == 4
df2type4 = df2[(df_type4)]

In [93]:
df2type1[['17','18']] = df2type1[['17','18']].astype('int')
df2type2[['17','18','19','20','21','22','23','24','25','26','27','28','29']] = df2type2[['17','18','19','20','21','22','23','24','25','26','27','28','29']].astype('int')
df2type3[['17','18','19','20','21','22']] = df2type3[['17','18','19','20','21','22']].astype('int')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [94]:
df2type1.iloc[:, 11:29] = df2type1.iloc[:, 11:29].replace([1, 2, 3, 4, 5], [5, 4, 3, 2, 1])
df2type2.iloc[:, 11:40] = df2type2.iloc[:, 11:40].replace([1, 2, 3, 4, 5], [5, 4, 3, 2, 1])
df2type3.iloc[:, 11:33] = df2type3.iloc[:, 11:33].replace([1, 2, 3, 4, 5], [5, 4, 3, 2, 1])
df2type4.iloc[:, 11:27] = df2type4.iloc[:, 11:27].replace([1, 2, 3, 4, 5], [5, 4, 3, 2, 1])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

In [95]:
df2type2.to_excel('excel_output_type2.xlsx', encoding = 'utf_8_sig', index=False)
df2type3.to_excel('excel_output_type3.xlsx', encoding = 'utf_8_sig', index=False)
df2type4.to_excel('excel_output_type4.xlsx', encoding = 'utf_8_sig', index=False)
df2type1.to_excel('excel_output_type1.xlsx', encoding = 'utf_8_sig', index=False)

In [96]:
df2type1_mean = df2type1.pivot_table(index=['選課代號','emp_id','emp_name','assistant_id','assistant_name','que_validity'], aggfunc='mean', values=['4','5','6','7','8','9','10','11','12','13','14','15','16'])
df2type2_mean = df2type2.pivot_table(index=['選課代號','emp_id','emp_name','assistant_id','assistant_name','que_validity'], aggfunc='mean', values=['9','10','11','12','13','14','15','16','17','18','19','20','21'])
df2type3_mean = df2type3.pivot_table(index=['選課代號','emp_id','emp_name','assistant_id','assistant_name','que_validity'], aggfunc='mean', values=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15'])
df2type4_mean = df2type4.pivot_table(index=['選課代號','emp_id','emp_name','assistant_id','assistant_name','que_validity'], aggfunc='mean', values=['1','2','3','4','5','6','7','8','9'])

In [97]:
df2type1_mean["分數"] = round(round((df2type1_mean["4"] + df2type1_mean["5"] + df2type1_mean["6"] + df2type1_mean["7"] + df2type1_mean["8"] + df2type1_mean["9"] + df2type1_mean["10"] + df2type1_mean["11"] + df2type1_mean["12"] + df2type1_mean["13"] + df2type1_mean["14"] + df2type1_mean["15"] + df2type1_mean["16"]) / 13, 3) , 2)
df2type2_mean["分數"] = round(round((df2type2_mean["9"] + df2type2_mean["10"] + df2type2_mean["11"] + df2type2_mean["12"] + df2type2_mean["13"] + df2type2_mean["14"] + df2type2_mean["15"] + df2type2_mean["16"] + df2type2_mean["17"] + df2type2_mean["18"] + df2type2_mean["19"] + df2type2_mean["20"] + df2type2_mean["21"]) / 13, 3) , 2)
df2type3_mean["分數"] = round(round((df2type3_mean["1"] + df2type3_mean["2"] + df2type3_mean["3"] + df2type3_mean["4"] + df2type3_mean["5"] + df2type3_mean["6"] + df2type3_mean["7"] + df2type3_mean["8"] + df2type3_mean["9"] + df2type3_mean["10"] + df2type3_mean["11"] + df2type3_mean["12"] + df2type3_mean["13"] + df2type3_mean["14"] + df2type3_mean["15"]) / 15, 3) , 2)
df2type4_mean["分數"] = round(round((df2type4_mean["1"] + df2type4_mean["2"] + df2type4_mean["3"] + df2type4_mean["4"] + df2type4_mean["5"] + df2type4_mean["6"] + df2type4_mean["7"] + df2type4_mean["8"] + df2type4_mean["9"]) / 9, 3) , 2)

In [98]:
if not os.path.exists('.\\score'):
    os.makedirs('.\\score')
df2type1_mean.to_excel('.\\score\\type1_score.xlsx', encoding = 'utf_8_sig')
df2type2_mean.to_excel('.\\score\\type2_score.xlsx', encoding = 'utf_8_sig')
df2type3_mean.to_excel('.\\score\\type3_score.xlsx', encoding = 'utf_8_sig')
df2type4_mean.to_excel('.\\score\\type4_score.xlsx', encoding = 'utf_8_sig')

In [99]:
c = df2type1

In [100]:
c.index = range(len(c))

In [101]:
c

,yms_year,yms_smester,emp_id,emp_name,assistant_id,assistant_name,exe_type,respondent_code,que_sub,選課代號,...,21,22,23,24,25,26,27,28,29,30
0,109,2,A,,D0609169,戴俊安,1,9718,1092 財務管理實習(財稅三甲)[0420],0420,...,,,,,,,,,,
1,109,2,A,,D0609169,戴俊安,1,9734,1092 財務管理實習(財稅三甲)[0420],0420,...,,,,,,,,,,
2,109,2,A,,D0609169,戴俊安,1,14180,1092 財務管理實習(財稅三甲)[0420],0420,...,,,,,,,,,,
3,109,2,A,,D0609169,戴俊安,1,14440,1092 財務管理實習(財稅三甲)[0420],0420,...,,,,,,,,,,
4,109,2,A,,D0609169,戴俊安,1,14448,1092 財務管理實習(財稅三甲)[0420],0420,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89957,109,2,T99202,龎雅文,A,,1,22038,1092 統計學(二)(經二甲)[0565],0565,...,,,,,,,,,,
89958,109,2,T99202,龎雅文,A,,1,24334,1092 統計學(二)(經二甲)[0565],0565,...,,,,,,,,,,
89959,109,2,T99202,龎雅文,A,,1,24740,1092 統計學(二)(經二甲)[0565],0565,...,,,,,,,,,,
89960,109,2,T99202,龎雅文,A,,1,24742,1092 統計學(二)(經二甲)[0565],0565,...,,,,,,,,,,
89961,109,2,T99202,龎雅文,A,,1,47433,1092 統計學(二)(經二甲)[0565],0565,...,,,,,,,,,,